* {
  margin: 0;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-25 {
  margin-left: 25px;
}

.ml-30 {
  margin-left: 30px;
}
.container {
  display: flex;
}

.container__sidebar {
  width: 18%;
  border-right: 4px solid #000;
  height: auto;
}

.container__main {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  overflow: auto;
}

ul {
  text-align: left;
}
li {
  list-style-type: none;
  padding: 20px;
}
